<footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">North York, Ontario, Canada</p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Get to know the digital me.</h4>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a
                class="btn btn-outline-light btn-social text-center rounded-circle"
                href="https://github.com/yatishGautam"
              >
                <i class="fab fa-fw fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                class="btn btn-outline-light btn-social text-center rounded-circle"
                href="https://www.linkedin.com/in/yatishgautam28/"
              >
                <i class="fab fa-fw fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                class="btn btn-outline-light btn-social text-center rounded-circle"
                href="mailto: ydipankar@gmail.com"
              >
              
                <i class="fas fa-fw fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      
  </footer>
  
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; 2023 Yatish Gautam - All Rights Reversed</small>
    </div>
  </div>
  