<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>

    <!--Header-->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <span style="font-size: 120px;"> </span>
        <h1 class="text-uppercase mb-0">About</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">Yatish Gautam</h2>
      </div>
    </header>


   

    <!--About Section-->
    <section class="bg-primary text-white mb-0" id="About">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              Fulltstack web engineer with experience in Node.js, Vue.js, MongoDB,
              iOS Application development.
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              A Seasoned developer with 4 years of experience and worked at 
              startups and multinational organisations. Diploma in Porject Management in Software.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
