<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
</head>

<body id="page-top">
    <!-- Navigation-->
    <% include ./partials/navmenu %>

        <section id="contact">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">
                    Contact Me
                </h2>
                <hr class="star-dark mb-5" />
                <div class="center">
                    <section class="portfolio" id="portfolio">
                        <div class="container">
                            <div class="row">
                                <div class="center">
                                    <h4 class="text-center text-uppercase text-secondary mb-0">
                                        Email: ydipankar@gmail.com<br>
                                        LinkdIn: linkedin.com/in/yatishgautam28/
                                        </h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <!--Footer-->
        <% include ./partials/footer %>
</body>

</html>