<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>

    <!--Header-->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <span style="font-size: 120px;"> </span>
        <h1 class="text-uppercase mb-0">Welcome</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">Yatish Gautam</h2>
      </div>
    </header>


   

    <!--About Section-->
    <section class="bg-primary text-white mb-0" id="About">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Mission Statement</h2>
        <hr class="star-light mb-5" />
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              Builing quality software products which customers are delighted to use.
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              Tech Stacks used: MEVN, Swift, Python, Java, Javascript
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
