<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>


<section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">
        Portfolio
      </h2>
      <hr class="star-dark mb-5" />
      <div class="row">
        <!--Revv Cars-->
        <div class="col-mn-2 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://apps.apple.com/in/app/revv-self-drive-car-rental/id1021594400"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                  Revv- Self drive cars (Car rental application).
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="/Assests/images/revv.png"
              alt="Revv App"
            />
          </a>
        </div>
        <!--Weather App-->
        <div class="col-mn-2 col-lg-4">
          <a
            class="portfolio-item d-block mx-auto"
            href="https://apps.apple.com/in/app/tata-cliq-online-shopping-app/id1101619385"
          >
            <div
              class="portfolio-item-caption d-flex position-absolute h-100 w-100"
            >
              <div
                class="portfolio-item-caption-content my-auto w-100 text-center text-white"
              >
                <p>
                 Tata Cliq e-Commerce application
                </p>
              </div>
            </div>
            <img
              class="img-fluid"
              src="/Assests/images/cliq.png"
              alt="Tata CliQ"
            />
          </a>
        </div>

      </div>
    </div>
  </section>





    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
