<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
</head>

<body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>

        <!--Header-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container">
                <span style="font-size: 120px;"> </span>
                <h1 class="text-uppercase mb-0">Services</h1>
                <hr class="star-light" />
            </div>
        </header>




        <!--About Section-->
        <section class="bg-primary text-white mb-0" id="About">
            <div class="container">
                <div class="center">
                    <ul>
                        <li>
                            <p class="lead">
                                Project Management
                            </p>
                        </li>
                        <li>
                            <p class="lead">
                                iOS Application Development
                            </p>
                        </li>
                        <li>
                            <p class="lead">
                                Backend Development
                            </p>
                        </li>
                        <li>
                            <p class="lead">
                                Digital Transformation
                            </p>
                        </li>
                        <li>
                            <p class="lead">
                                Website Development
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Footer-->
        <% include ./partials/footer %>
</body>

</html>